* {
    margin-left: 25px;
    margin-right: 25px;
  }
  
  .logo {
      height: 130px;
      width: 130px;
  }
  
  .top {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 4px solid #4a4d52;    
  }

  .top a{
    color: #3379f1;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    text-decoration: underline;
  }

  .top a:hover {
    color: black; 
  }
  
  
  main h2 {
    margin-top: 70px;
    font-family: system-ui;
    font-size: 40px;
    text-align: center;
    font-family: Cambria;
  }
  
  .top1{
    display: flex;
    flex-direction: row;  
  }
  
  .h {
    align-content: center;
  }

.table{
  margin-left: 65px;
  margin-right: 65px;
}  

table th {
    background-color: #3379F1;;
    color: white;
    padding: 5px;
    text-align: left;
}

table td {
    padding: 5px;
}

form {
    background-color:#9AB0D4;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #222; 
}

form label {
    display: block;
    width: fit-content;
    font-size: 18px;
    background-color: #548ae6;
    padding: 3px 7px;
    margin-top: 10px;
    margin-bottom: 0px;
    border-radius: 5px;
    margin-left: 0;
    border: 1px solid #222;
}

input[type=text], [type=number], select, input[type=date], input[type=date], input[type=datetime], input[type=email], input[type=month], input[type=password], input[type=range], input[type=tel], input[type=time], input[type=week] {
    width: 100%;
    padding: 12px 20px;
    font-size: 1em;
    font-family: cambria;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #222;
    border-radius: 4px;
    box-sizing: border-box;
}
  
  button{
   display: inline-block;
   background-color: #18438C;
   height: 40px;
   line-height: 30px;
   padding-left: 20px;
   padding-right: 20px;
   color: #fff;
   box-shadow: 5px 5px 0px #222;
   cursor: pointer;
   transition: transform 200ms ease-in-out;
   font-size: 17px;
}

.botao {
  display: flex;
  justify-content: center;
}

  button:hover{
   transform: scale(1.1);
}

  button:active{
   background-color: #222;
}

label {
    color: #222;
}